header {
    position: fixed;
    z-index:100;
    width: 100vw;
    height: 100px;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    background-color: #343434FA;
    color: $text-color;
    h1{
        display: inline-block;
    }

    button.restart{
        padding: 5px 10px;
        text-align: center;
        width: 80px;
        background-color: #333333;
        border: 2px solid $text-color;
        color: $text-color;
        border-radius: 20px;
        font-size: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        display: none;
        &:hover{
            transform: translateY(-50%) scale(1.02);
        }

        a#home{
            text-decoration: none;
            color: $text-color;
        }

    }
}
